

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Olá <%= currentUser.name %>, você já acumulou X estrelitas!</h1>
  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
      class="fa fa-sign-out-alt fa-sm text-white-50"></i> Sair</a>
</div>

<!-- Content Row -->
<div class="row">

  <!-- Area Chart -->
  <div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Vamos compartilhar estrelitas? Você ainda tem Y disponíveis esse mês!</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-area">
          <form class="user" method="POST" action="/home" >
            <div class="form-group row">
              <div class=" col-sm-5">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Nome</label>
                  <select name="user_id_receiver" class="form-control">
                    <option selected disabled>Escolha alguém</option>
                    <% users.forEach((user) => { %>
                    <option value='<%= user.user_id %>'><%= user.name +" "+ user.surname %></option>
                    <% }) %>
                  </select>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Quantidade</label>
                  <input min="1"  type="number" class="form-control" name="quantity" placeholder="0" oninput="validity.valid||(value='');" >
                </div>
              </div>
              <div class=" col-sm-5">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Valor</label>
                  <select name="value" class="form-control" aria-placeholder="Selecione um valor">
                    <option selected disabled>Selecione um dos valores</option>
                    <option>#LoveOurCustomers</option>
                    <option>#PlayToWin</option>
                    <option>#TrueTeamPlayers</option>
                    <option>#Warriors</option>
                    <option>#LearnFast</option>
                    <option>#BrutallyHonest</option>
                    <option>#ThinkLikeOwners</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-12" >
                <div class="form-group">
                  <label for="exampleFormControlInput1">Mensagem</label>
                  <textarea style="resize:none" type="text" class="form-control"  name="message" placeholder="Deixe aqui sua mensagem!" ></textarea>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <button class=" btn btn-primary btn-user btn-block ">
                Enviar!
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <!-- Pie Chart -->
  <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4 pb-2">
          <canvas id="myPieChart"></canvas>
        </div>
        <div class="mt-4 text-center small">
          <span class="mr-2">
            <i class="fas fa-circle text-primary"></i> Direct
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-success"></i> Social
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-info"></i> Referral
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Content Row -->
<div class="row">

  <!-- Content Column -->
  <div class="col-xl-12 col-lg-15">

   
    
  <div class="col-lg-16 mb-14">

    <% transactions.forEach((transaction) => { %>      
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><%= transaction.value %></h6>
      </div>
      <div class="card-body">
        <div class="text-center">
        </div>
        <p><%= (transaction.user_id_sender) %> recebeu + <%= (transaction.quantity) %> de <%= (transaction.user_id_receiver) %></p>
        <p><%= transaction.message %></p>
        <p>Data:<%= (transaction.date) %></p>
      </div>
    </div>
    <% }) %>







    <!-- Approach -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
      </div>
      <div class="card-body">
        <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page
          performance. Custom CSS classes are used to create custom components and custom utility classes.</p>
        <p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework,
          especially the utility classes.</p>
      </div>
    </div>

  </div>
</div>